<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap/head :: head()"></head>
<body>
<div th:id="overlay"></div>
<div class="container">
    <div class="p-3 form">
        <form id="formRegister" method="post" th:action="@{/perform_registration}">
            <div th:replace="components/inputs::textfield(id='username', label='label.username', required=true)"></div>
            <div th:replace="components/inputs::textfield(id='firstname', label='label.firstname', required=false)"></div>
            <div th:replace="components/inputs::textfield(id='lastname', label='label.lastname', required=false)"></div>
            <div th:replace="components/inputs::textfield(id='password', label='label.password', required=true, type='password')"></div>
            <div th:replace="components/inputs::textfield(id='password_again', label='label.password_again', required=true, type='password')"></div>
            <div class="mt-3"></div>
            <button th:replace="components/buttons::submitbutton(id='btnRegister', label='label.register')"></button>
            <a th:replace="components/buttons::linkbutton(id='btnLogin', label='label.back_to_login', href='/login')"></a>
        </form>
        <div th:if="${errors}" class="alert alert-danger">
            <h5>Bruh</h5>
            <span th:if="${usernameIsTaken}">Benutzername ist bereits vergeben</span>
            <span th:if="${noPasswordGiven}">Passwort muss eingegeben werden</span>
            <span th:if="${passwordsDontMatch}">Die Passwörter stimmen nicht überein</span>
            <span th:if="${passwordTooShort}">Das Passwort muss aus mindestens 8 Zeichen bestehen</span>
            <span th:if="${passwordContainsWhitespaces}">Das Passwort muss aus mindestens 8 Zeichen bestehen</span>
        </div>
        <div class="alert alert-danger visually-hidden" id="errorbox">
            <h5>Bruh</h5>
            <span></span>
        </div>
    </div>
</div>
<script th:replace="bootstrap/script :: script()"></script>
<script th:src="@{../js/register.js}"></script>
</body>
</html>